stanbol.enhancer.chain.name="{{enhancer_name}}Chain"
stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-chunker","{{enhancer_name}}"]
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.weighted-{{stanbol_version}}.jar"
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.{{enhancer_name}}Chain"
service.ranking=I"0"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
